.products.home .product {
	@media (min-width: 588px) and (max-width: 756px) {
		width: 18.88%
		// width: 23.88%;
	}
	@media (min-width: 757px) and (max-width: 920px) {
		width: 15.547%;
		// width: 18.88%;
	}
	@media (min-width: 921px) {
		width: 13.147%;
		// width: 17.547%
	};
}

.products.cols .product {
	@media (min-width: 588px) and (max-width: 756px) {
		width: 30%;
		// width: 23.88%;
	}
	@media (min-width: 757px) and (max-width: 920px) {
		width: 30.3%;
		// width: 18.88%;
	}
	@media (min-width: 921px) {
		width: 30.3%;
		// width: 17.547%
	};
}
