.item {
	background-color: #fff;
    border-radius: 9px;
    display: inline-block;
    padding: 9px 14px;
    font-size: 14px;
	font-weight: bold;
	color: #222;
	margin: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.050980392156862744);
	transition: background-color 2s;

	&:hover,
	&:focus,
	&.active {
		background-color: #ffeb3b;
	}

	&,
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
