@import "resets";

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hide {
	display: none !important;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.inline {
	display: inline;
}

.middle {
	vertical-align: middle;
}

.center-layout {
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	& > .col {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}

	& > [class^=col-] {

	}
}
