.breadcrumb {
	// box-shadow: 0px 1px 2px #eaeaea;
	font-size: 139%;
	// margin-bottom: 15px;
	@media (min-width: 588px) {
		font-size: 111%;
	}
	padding: 0;
	list-style-type: none;
	// margin: -1px 0 0;
	@media (min-width: 588px) {
		// margin: -1px 25px 0;
	}

	li {
		float: left;

		.last,
		a {
			background-color: #fff;
			display: block;
			padding: 8px;
			padding-right: 6px;
			padding-left: 24px;
			color: inherit;
			fill: inherit;
			position: relative;
			border-top: 1px solid #ececec;
			margin-bottom: -1px;
			border-bottom: 1px solid #ececec;

			icon {
				width: 21px;
				height: 20px;
				vertical-align: text-top;

				@media (min-width: 588px) {
					width: 17px;
					height: 17px;
				}
			}

			.text {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&:after,
			&:before {
				position: absolute;
				display: block;
				height: 0;
				width: 0;
				top: -1px;
				margin-left: 5px;
				border-right: 0;
				content: " ";
				z-index: 1;
			}

			$top: 19px;
			$bottom: 19px;
			$left: 15px;
			// $lg-top: 17px;
			// $lg-bottom: 16px;
			// $lg-left: 15px;

			$lg-top: 20px;
			$lg-bottom: 19px;
			$lg-left: 18px;

			@mixin triangle($width, $height, $color) {
				border-top: $height / 2 solid transparent;
				border-bottom: $height / 2 solid transparent;
				border-left: $width solid $color;
			}

			// 15.6 x 46
			// 15 x 43.79

			// right: -16.7px;
			// border-top: 23px solid transparent;
			// border-bottom: 23px solid transparent;
			// border-left: 15.6px solid #000000;

			// right: -16px;
			// border-top: 21.9px solid transparent;
			// border-bottom: 21.9px solid transparent;
			// border-left: 15px solid #f00;
			&:after {
				top: 0;
				right: -14px;
				border-top: $top solid transparent;
				border-bottom: $bottom solid transparent;
				border-left: $left solid #fff;

				@media (min-width: 588px) {
					right: -14.2px;
					@include triangle(14.4px, 35px, #fff);
					// border-top: $lg-top solid transparent;
					// border-bottom: $lg-bottom solid transparent;
					// border-left: $lg-left solid #fff;
				}
			}
			&:before {
				right: -15px;
				border-top: $top + 1px solid transparent;
				border-bottom: $bottom + 1px solid transparent;
				border-left: $left + 1px solid #ececec;
				@media (min-width: 588px) {
					right: -15px;
					@include triangle(15px, 37px, #ececec);
					// border-top: $lg-top + 1px solid transparent;
					// border-bottom: $lg-bottom + 1px solid transparent;
					// border-left: $lg-left - 1px solid #ececec;
				}
			}
		}

		a {
			&:hover,
			&:focus {
				background-color: #fbfbfb;
				color: #928403;
				fill: #928403;

				&:after {
					border-left-color: #fbfbfb;
				}
			}
		}

		.last {
			display: none;
			@media (min-width: 588px) {
				color: #ccc;
				display: inline-block;
			}
		}

		// &:last-child {
		// 	.last,
		// 	a {
		// 		&:before,
		// 		&:after {
		// 			display: none !important;
		// 		}
		// 	}
		// }

		&:first-child {

			a {
				border-left: 1px solid #ececec;
				padding-left: 10px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
	}
}


// .breadcrumb {
// 	background-color: #fff;
// 	box-shadow: 0px 1px 2px #eaeaea;
// 	font-size: 139%;
// 	margin-bottom: 15px;
// 	@media (min-width: 588px) {
// 		font-size: 111%;
// 	}
// 	overflow: hidden;
// 	padding: 0;

// 	ul {
// 		list-style-type: none;
// 		margin: -1px 0 0;
// 		padding: 0;
// 		@media (min-width: 588px) {
// 			margin: -1px 25px 0;
// 		}

// 		li {
// 			float: left;

// 			.last,
// 			a {
// 				display: block;
// 				padding: 7px;
// 				padding-right: 7px;
// 				padding-left: 20px;
// 				color: inherit;
// 				fill: inherit;
// 				position: relative;
// 				border-top: 1px solid #ececec;
// 				margin-bottom: -1px;
// 				border-bottom: 1px solid #ececec;

// 				icon {
// 					width: 21px;
// 					height: 20px;
// 					vertical-align: text-top;

// 					@media (min-width: 588px) {
// 						width: 17px;
// 						height: 17px;
// 					}
// 				}

// 				.text {
// 					display: block;
// 					white-space: nowrap;
// 					overflow: hidden;
// 					text-overflow: ellipsis;
// 				}

// 				&:after,
// 				&:before {
// 					position: absolute;
// 					display: block;
// 					height: 0;
// 					width: 0;
// 					top: -1px;
// 					margin-left: 5px;
// 					border-right: 0;
// 					content: " ";
// 					z-index: 1;
// 				}

// 				&:after {
// 					top: 0;
// 					right: -15px;
// 					border-top: 19px solid transparent;
// 					border-bottom: 19px solid transparent;
// 					border-left: 15px solid #fff;

// 					@media (min-width: 588px) {
// 						right: -13px;
// 						border-top: 17px solid transparent;
// 						border-bottom: 16px solid transparent;
// 						border-left: 13px solid #fff;
// 					}
// 				}
// 				&:before {
// 					right: -16px;
// 					border-top: 20px solid transparent;
// 					border-bottom: 20px solid transparent;
// 					border-left: 16px solid #ececec;
// 					@media (min-width: 588px) {
// 						right: -14px;
// 						border-top: 18px solid transparent;
// 						border-bottom: 17px solid transparent;
// 						border-left: 14px solid #ececec;
// 					}
// 				}
// 			}

// 			a {
// 				&:hover,
// 				&:focus {
// 					background-color: #fbfbfb;

// 					&:after {
// 						border-left-color: #fbfbfb;
// 					}
// 				}
// 			}

// 			.last {
// 				display: none;
// 				@media (min-width: 588px) {
// 					color: #ccc;
// 					display: inline-block;
// 				}
// 			}

// 			&:last-child {
// 				.last,
// 				a {
// 					&:before,
// 					&:after {
// 						display: none !important;
// 					}
// 				}
// 			}

// 			&:first-child {
// 				border-top-left-radius: 4px;
// 				border-bottom-left-radius: 4px;

// 				a {
// 					padding-left: 10px;
// 				}
// 			}
// 		}
// 	}
// }
