@import "./sass/variables.scss";

html {
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	line-height: 1.33;
	color: #4f4f4f;
	fill: #4f4f4f;
	background-color: #fff;
	// height: 3000px;
}

body,
button {
	font-family: Roboto, "Myriad Pro", Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

b {
	font-weight: 500;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.title-page {
	padding: 0 7px;
	margin: 5px 0;
	font-size: 19px;
	font-weight: normal;

	@media (min-width: $mobile-min) {
		padding: 0 10px;
		margin: 0 0 16px;
		font-size: 29.5px;
	}
}

.container {
	width: 100%;
	padding: 0;
	max-width: 100%;

	@media (min-width: $mobile-min) {
		padding: 0 5px;
	}

	@media (min-width: $tablet-min) {
	}

	@media (min-width: $big-tablet-min) {
		padding: 0 20px;
		max-width: 1300px;
	}

	@media (min-width: $desktop-min) {
		padding: 0;
	}
}

@import "./sass/components/components.scss";
@import "./sass/helpers/helpers.scss";
@import "./sass/libs/fontawesome.scss";
@import "./sass/pages/pages.scss";
