.description {
	font-size: 15px;
	padding: 0 7px;
	margin: 0 0 20px;
	@media (min-width: 588px) {
		padding: 0 13px;
	}
}

.pagination {
	display: block;
	margin-top: 20px;
	@media (orientation: landscape) {
		margin-top: 35px;
	}
}

.main {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	@media (min-width: 588px) {
		flex-flow: row;
		align-items: flex-start;
	}
}

.mixes-list {
	box-shadow: 0px 1px 2px #00000045;
	border-radius: 2px;

	mix {
		display: block;
		border-bottom: 1px solid #92929245;
		&:last-child {
			border-bottom: none;
		}
	}
}
