ul {
	margin: 0 -10px 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #f3f3f3;
	@media (min-width: 768px) {
		margin-left: 0;
		margin-right: 0;
	}

	li {
		border-top: 1px solid #f3f3f3;
		@media (min-width: 768px) {
			border-top: none;
			display: inline-block;
		}

		a {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 6px 15px;
			font-size: 17px;
			color: #6077f9;

			@media (min-width: 768px) {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 16px;
				color: inherit;
			}

			&.active {
				font-weight: 500;
			}

			&:hover,
			&.active {
				color: #ff9b19;
				fill: #ff9b19;
				@media (min-width: 768px) {
					border-bottom: 4px solid #ffeb3b;
					margin-bottom: -1px;
					color: #443E5C;
				}

				icon {
					fill: inherit;
				}
			}

			icon {
				width: 14px;
				height: 28px;
				fill: #adadad;
				@media (min-width: 768px) {
					display: none !important;
				}
			}
		}
	}
}
