.tab {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;

	a {
		display: block;
		border: 1px solid rgb(244, 244, 248);
		border-radius: 4px;
		text-decoration: none;
		padding: 10px 15px;
		color: black;
	}
}
